* linguist-vendored
* linguist-generated
package/ linguist-vendored=false
package/ linguist-generated=false
package/NeteaseCloudMusic/NeteaseCloudMusicApi.js linguist-vendored
package/NeteaseCloudMusic/NeteaseCloudMusicApi.js linguist-generated